@font-face
    font-family Inconsolata
    font-style normal
    font-weight 400
    src: local('Inconsolata'), url(http://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCCwlidHJgAgmTjOEEzwu1L8.ttf) format('truetype')

html,body
    position relative
    margin 0
    padding 0px 0 0 0
    width 100%
    height 100%
    user-select none

h1
h2
h3
h4
p
a
div
span
    font-family Inconsolata
    color #004d40

h1
h2
p
a
    text-decoration none
    font-size 0.8rem
    letter-spacing 0.05rem
    word-spacing 0.2rem
    text-justify distribute-all-lines
    user-select none

iframe
    border none
